<h1>Product Info</h1>
<h3>Name: <%= @product.name %></h3>
<% @product.categories.each do |category| %>
  <p>category: <%= category.name %></p>
<% end %>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<p>Supplier: <%= @product.supplier.name %></p>
<% @product.images.each do |image| %>
  <img src="<%= image.url %>" alt="" width=300>
<% end %>

